.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.translate-button {
  font-size: 1rem;
  cursor: pointer;
}

.active {
  color: white;
  background-color: black;
  border: none;
  padding: 3px 10px;
  font-weight: 600;
}
